[run]
source = app
branch = true
omit =
    app/__init__.py
    app/config.py
    **/migrations/*
    tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
fail_under = 0
show_missing = true

[html]
directory = htmlcov
